.idea
/out

/**/target/
!/.mvn/wrapper/maven-wrapper.properties
/**/.mvn/
/pom.xml.versionsBackup

/**/.gradle/
!/**/gradle/wrapper/gradle-wrapper.properties
/**/gradle/
/**/build/
#gradlew* - put it to "Extract" category of your project